@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-[62.5%];
  }

  body {
    @apply w-full overflow-x-hidden bg-background-black font-workSans text-[1.6rem] font-normal leading-[140%] text-label-white lg:cursor-none;
  }

  h1,
  .heading1 {
    @apply text-[6.7rem] font-bold capitalize leading-[110%];
  }

  h2,
  .heading2 {
    @apply text-[5.1rem] font-bold capitalize leading-[110%];
  }

  h3,
  .heading3 {
    @apply text-[3.8rem] font-bold capitalize leading-[120%];
  }

  h4,
  .heading4 {
    @apply text-[2.8rem] font-semibold capitalize leading-[140%];
  }

  h5,
  .heading5 {
    @apply text-[2.2rem] font-semibold capitalize leading-[160%];
  }

  p,
  .paragraph {
    @apply text-[1.6rem] font-normal leading-[140%];
  }

  span,
  .span {
    @apply text-[1.2rem] font-normal leading-[110%];
  }
  .discoverTab::-webkit-scrollbar {
    @apply h-[0.8rem] rounded-[2rem] bg-label-grey;
  }
  .discoverTab::-webkit-scrollbar-thumb:horizontal {
    @apply rounded-[2rem] bg-callToAction;
  }
}
